<div class="page page-dashboard" data-ng-controller="DashboardCtrl" ng-swipe-left="alert('noo')">  

    <!-- stats -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" data-step="1" data-intro="Este es el tablero o dashboard, aquí verás un resumen de tus páginas, mensajes y noticias relacionadas con tu Perfil">Bienvenido {{ usuario.usuario_nombre }}</h3>
                </div>
                <div class="panel-body">
                    <p >
                        Este es tu Dashboard o tablero, aquí verás un resumen de lo que pasa en NODEX
                    </p>
                    
                    <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Recorrido por Nodex</a>
                    <a href="#/soporte/chat" class="btn btn-warning">Solicitar asesoría</a>
                </div>
            </div>
            <div class="row" data-step="2" data-intro="En esta área aparecerán las páginas que vayas creando... puedes crear tantas páginas como desees">
                <div class="col-lg-6 col-xsm-6 dash-item"  ng-repeat="pagina in misPaginas">
                    <a ng-href="#/pagina/{{ pagina.pagina_id }}">
                    <div class="panel mini-box" style="border-style:solid;border-color:#{{pagina.pagina_color}} #{{pagina.pagina_color}};">
                        <span class="box-icon bg-{{ pagina.status_class }}">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h5">{{pagina.pagina_nombre}} <span class="size-h5"><span data-i18n="Visitas"></span></span></p>
                            <p class="text-muted">{{ pagina.pagina_visitas }}</p>
                        </div>
                    </div>
                    </a>
                </div> 
                <div class="col-lg-6 col-xsm-6 dash-item">
                    <a ng-href="#/pagina/add" >
                    <div class="panel mini-box  bg-info" data-step="5" data-intro="¡Empieza a crear tu primera página! ¡Es gratis!">
                        <span class="box-icon bg-{{ pagina.status_class }}">
                            <i class="fa fa-plus"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h4">Nueva página</p>
                            <p class="size-h5">Inicia un nuevo proyecto</p>
                        </div>
                    </div>
                    </a>
                </div>       
            </div>
        </div>
        
        <div class="col-md-6">
            <section class="panel panel-default" data-step="3" data-intro="En sección te mostraremos las noticias más importantes de Nodex, promociones o avisos de interés" data-postition="top">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Noticias Nodex</strong></div>
                <div class="panel-body">
                    <p>
                        <img src="http://www.littlegreenrobot.co.uk/wp-content/uploads/2014/02/s5vsz2.png" width="250px" align="right">
                        Muy pronto estará disponible la <strong>Aplicación Móvil</strong> de NODEX, desde ella podrás administrar tu página web.
                        </p>
                        <ul>
                            <li>Leer tus mensajes</li>
                            <li>Subir nuevo contenido</li>
                            <li>Administrar tu información</li>
                            <li>Administrar tu tienda</li>
                            <li>Mucho más...</li>
                        </ul>
                    
                </div>
            </section>
            <section class="panel panel-default hidden">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Nuevas empresas</strong></div>
                <div class="panel-body">
                    
                </div>
            </section>        
        </div>

    </div>

    <!-- end stats -->
 



    <div class="panel panel-default mail-container" data-step="4" data-intro="En esta sección te aparecerá un resumen de los mensajes que envíen los visitantes de tu página web" data-position="top">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Mensajes recientes</strong></div>
        <div class="panel-body">

        <table class="table table-hover" ng-if="PaginaMensajesLatest">
            <thead>
                <tr>                    
                    <th>Autor</th>
                    <th>Asunto</th>
                    <th>Fecha</th>
                    <th>Página</th>                    
                </tr>
            </thead>
            <tbody ng-repeat="m in PaginaMensajesLatest">
                <tr class="{{ m.mensaje_leido }}">                    
                    <td>
                        <a href="#/pagina/{{ m.pagina_id }}/mensaje/{{ m.mensaje_id }}">{{ m.mensaje_autor }}</a>
                    </td>
                    <td>
                        <a href="#/pagina/{{ m.pagina_id }}/mensaje/{{ m.mensaje_id }}">{{ m.mensaje_asunto }}</a>
                    </td>                    
                    <td>{{ m.mensaje_fecha }}</td>
                    <td><a href="#/pagina/{{ m.pagina_id }}">{{ m.pagina_nombre }}</a></td>                    
                </tr>
            </tbody>              
        </table>

        <div class="alert alert-info" ng-if="PaginaMensajesLatest==''">
            <p>Aún no hay mensajes para mostrar, comparte tus páginas en redes sociales para que más personas puedan visitarla</p>
        </div>
        </div>
    </div>

</div>
  