<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard"></span> </a></li>  
        <li>
            <a href="#/paginas"><i class="glyphicon glyphicon-file"><span class="icon-bg bg-info"></span></i><span data-i18n="Páginas"></span></a>            
        </li>      
        <li class="hidden">
            <a href="#/tienda"><i class="fa fa-shopping-cart"><span class="icon-bg bg-success"></span></i><span data-i18n="Tienda"></span></a>            
        </li>
        <li>
            <a href="#/servicios"><i class="fa fa-money"><span class="icon-bg bg-warning"></span></i><span data-i18n="Pagos"></span></a>            
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-life-saver "><span class="icon-bg bg-primary"></span></i><span data-i18n="soporte"></span></a>
            <ul>
                <li><a href="#/soporte/faqs"><i class="fa fa-caret-right"></i><span data-i18n="faq"></span></a></li>
                <li><a href="#/soporte/chat"><i class="fa fa-caret-right"></i><span data-i18n="chat"></span></a></li>
                <!-- <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="ticket"></span></a></li> -->
            </ul>
        </li>
        <!-- <li><a href="#/calendario"> <i class="fa fa-calendar"><span class="icon-bg bg-success"></span></i><span data-i18n="Calendario"></span> </a></li> -->
        <!-- <li><a href="#/reportes"> <i class="fa fa-bar-chart-o"><span class="icon-bg bg-danger"></span></i><span data-i18n="Reportes"></span> </a></li> -->
        <!-- <li><a href="#/pagos"> <i class="fa fa-shopping-cart"><span class="icon-bg bg-primary"></span></i><span data-i18n="Mejoras"></span> </a></li> -->
        <!-- <li>
            <div style="text-align:center">
                <h4>Noticias</h4>
                <hr>
                <p>bartola</p>
            </div>            
        </li> -->
    </ul>
</div>