<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard"></span> </a></li>        
        <li>
            <a href="#/form"><i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i><span data-i18n="contenidos"></span></a>
            <ul class="sub-nav">
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="imagenes"></span> <span class="badge badge-warning">13</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-caret-right"></i><span data-i18n="videos"></span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-caret-right"></i><span data-i18n="documentos"></span></a></li>                
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"><span class="icon-bg bg-warning"></span></i><span data-i18n="servicios"></span></a>
            <ul>
                <li><a href="#/servicios"><i class="fa fa-caret-right"></i><span data-i18n="Servicios contratados"></span></a></li>
                <li><a href="#/servicios/facturas"><i class="fa fa-caret-right"></i><span data-i18n="Facturas"></span></a></li>
                <li><a href="#/servicios/porPagar"><i class="fa fa-caret-right"></i><span data-i18n="Ordenes por pagar"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"><span class="icon-bg bg-primary"></span></i><span data-i18n="soporte"></span></a>
            <ul>
                <li><a href="#/soporte/faqs"><i class="fa fa-caret-right"></i><span data-i18n="faq"></span></a></li>
                <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-i18n="chat"></span></a></li>
                <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="ticket"></span></a></li>
            </ul>
        </li>
        <!-- <li>
            <div style="text-align:center">
                <h4>Noticias</h4>
                <hr>
                <p>bartola</p>
            </div>            
        </li> -->
    </ul>
</div>