doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Intrabits #{ avatar }
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
    //
       needs images, font... therefore can not be part of ui.css 
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')    
    //
       end needs images 
    link(rel='stylesheet', href='styles/ui.css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/intrabits.css')
    link(rel='stylesheet', href='bower_components/angular-loading-bar/build/loading-bar.min.css')
  body#app(data-ng-app='app', data-custom-background='', data-off-canvas-nav='')
    //if lt IE 9
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    div(data-ng-controller='AppCtrl')
      div(data-ng-hide='isSpecificPage()', data-ng-cloak='')
        section#header.top-header(data-ng-include=' \'views/header.html\' ')
        aside#nav-container(data-ng-include=' \'views/menu.html\' ')
      .view-container
        section#content.animate-fade-up(data-ng-view='')
    script(src='scripts/vendor.js')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js')
    script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
    script(src='//intrabits.net/js/quo.js')
    script(src='//localhost/quo.js')
    script(src='plugins/datatables/datatables.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')
    script(src='https://code.angularjs.org/1.0.1/angular-sanitize-1.0.1.js')    
    script(src='scripts/ui2.js')
    script(src='scripts/shared/directives.js')
    script(src='scripts/app.js')        
    script(src='scripts/usuarios/usuarios.js')
    script(src='scripts/usuarios/service.js')
    script(src='scripts/soporte/soporte.js')
    script(src='scripts/paginas/service.js')
    script(src='scripts/paginas/pagina.js')
    script(src='scripts/shared/main.js')
    script(src='scripts/shared/localize.js')
    script(src='scripts/servicios/ServiciosCtrl.js')
    script(src='scripts/UI/UICtrl.js')
    script(src='scripts/UI/UIDirective.js')
    script(src='scripts/UI/UIService.js')
    script(src='scripts/controladores.js')    