doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Intrabits #{ avatar }
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')
    //
       needs images, font... therefore can not be part of ui.css 
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bower_components/weather-icons/css/weather-icons.min.css')
    //
       end needs images 
    link(rel='stylesheet', href='styles/ui.css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/intrabits.css')
  body#app(data-ng-app='app', data-custom-background='', data-off-canvas-nav='')
    //if lt IE 9
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    div(data-ng-controller='AppCtrl')
      div(data-ng-hide='isSpecificPage()', data-ng-cloak='')
        section#header.top-header(data-ng-include=' \'views/header.html\' ')
        aside#nav-container(data-ng-include=' \'views/menu.html\' ')
      .view-container
        section#content.animate-fade-up(data-ng-view='')
    script(src='scripts/vendor.js')
    
    script(src='https://code.angularjs.org/1.0.1/angular-sanitize-1.0.1.js')
    script(src='scripts/ui2.js')
    script(src='scripts/app.js')
    script(src='scripts/services.js')
    script(src='scripts/shared/main.js')
    script(src='scripts/shared/controladores.js')
    script(src='scripts/shared/directives.js')
    script(src='scripts/shared/localize.js')
    script(src='scripts/servicios/ServiciosCtrl.js')
    script(src='scripts/UI/UICtrl.js')
    script(src='scripts/UI/UIDirective.js')
    script(src='scripts/UI/UIService.js')
    script(src='scripts/Form/FormDirective.js')
    script(src='scripts/Form/FormCtrl.js')
    script(src='scripts/Form/FormValidation.js')
    script(src='scripts/Task/Task.js')
    script(src='scripts/Chart/ChartCtrl.js')
    script(src='scripts/Chart/ChartDirective.js')