<style type="text/css">
.fa-4x{
	padding-left: 40px;
}
</style>
<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Contacto</strong></div>
        <div class="panel-body">
        	<div class="row">
        		<div class="col-md-12"><p class="lead">Comunícate con nosotros a través de cualquiera de los siguientes medios, estamos para ayudarte</p></div>
        		
        		<div class="col-md-3"><i class="fa fa-phone fa-4x"></i><br>
        			<p class="lead">(777) 374-7483</p> </div>
        		<div class="col-md-3"><i class="fa fa-mobile fa-4x"></i><br> 
        			<p class="lead">044 (777) 257 15 45</p></div>
        		<div class="col-md-3"><i class="fa fa-envelope-o fa-4x"></i><br> 
        			<p class="lead">contacto@intrabits.net</p></div>
        		<div class="col-md-3"><i class="fa fa-comment fa-4x"></i><br> 
        			<p class="lead">Chat en vivo <a class="btn btn-success" href="#/soporte/chat">Aquí</a></p></div>

        	</div>            
        </div>
    </section> 

</div>