<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Pagos</strong></div>
        <div class="panel-body" >
        	<h3>Gracias por adquirir nuestros servicios</h3>
            <p class="lead">En breve te mandaremos un correo con información adicional sobre tu página</p>
            <hr>
            <div class="row">
            	<div class="col-md-2"><i class="glyphicon glyphicon-time fa-5x"></i></div>
            	<div class="col-md-5">            		
            		<p>El dominio estará activo aproximadamente un día después de que se haya realizado el pago</p>
            	</div>
            </div>
            <hr>
            <div class="row">            	
            	<div class="col-md-2"><i class="glyphicon glyphicon-globe fa-5x"></i></div>
            	<div class="col-md-5"><p>Si el dominio que solicitaste no está disponible nos comunicaremos contigo para mostrarte otras opciones</p></div>
            </div>
            <hr>
            <div class="row">            	
            	<div class="col-md-2"><i class="glyphicon glyphicon-edit fa-5x"></i></div>
            	<div class="col-md-5"><p>Ya puedes empezar a modificar tu página, es muy sencillo</p></div>
            </div>
            <hr>
            <div class="row">            	
            	<div class="col-md-2"><i class="glyphicon glyphicon-thumbs-up fa-5x"></i></div>
            	<div class="col-md-5"><p>Recuerda darle "Me Gusta" a nuestra página de facebook para que recibas las últimas promociones y noticias de Nodex e Intrabits</p></div>
            </div>
            <hr>
            <div class="row">            	
            	<div class="col-md-2"><i class="glyphicon glyphicon-comment fa-5x"></i></div>
            	<div class="col-md-5"><p>Si tienes alguna duda ponte en contacto con nosotros, ya sea para darle seguimiento a tu pago o para resolver cualquier duda sobre tu página web. <a href="#/contacto" class="btn btn-success">Contacto</a> </p></div>
            </div>            
            

        </div>
    </section> 

</div>