<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Servicios contratados</strong></div>            
        <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Servicio</th>
                    <th>Fecha de pago</th>
                    <th>Cantidad</th>
                    <th>Método de pago</th>
                    <th>Status</th>
                    <th>Tiempo disponible</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pago in servicios">
                    <td>{{ pago.pago_id}}</td>
                    <td>{{ pago.pagina_nombre }}</td>
                    <td>{{ pago.pago_fecha }}</td>
                    <td>{{ pago.pago_cantidad }}</td>
                    <td>{{ pago.pago_metodo }}</td>
                    <td>
                        <span ng-if="pago.pago_status == 1" class="label label-success">Peagada</span>
                        <span ng-if="pago.pago_status == 0" class="label label-danger">Pendiente</span>
                    </td>
                    <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                    
                </tr>

                            
            </tbody>
        </table>
        </div>        
    </div>


</div>