<div class="bloque">	
	<div class="row" ng-repeat="seccion in ContenidoSecciones">
		<div class="col-md-12" id="s{{ seccion.seccion_id }}">
			<h2>{{ seccion.seccion_nombre }}</h2>
			<div class="row">
				<div class="col-md-4" ng-repeat="bloque in traerBloques(seccion.seccion_id)">
					<div class="well">
						{{ bloque.bloque_titulo }}
					</div>				
				</div>				
			</div>

			<div class="row">				
				<div class="col-md-3">
					<button class="btn btn-lg btn-info" ng-click="bloqes()"><i class="fa fa-plus fa-4x"></i><br> Agregar contenido</button>
				</div>
			</div>
		</div>		
	</div>
</div>