<div class="bloque">

<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal">
			<div class="vertical" data-ui-wizard-form>
                <h3>Escoge un estilo</h3>
                <div>                    
                    <div class="row">                                                
                        <div class="col-md-6">
                          <label><input type="radio" name="estilo" ng-model="FormData.pagina_template_id" value="1"><img src="http://bootswatch.com/slate/thumbnail.png" width="100%"></label></div>
                        <div class="col-md-6">
                          <label><input type="radio" name="estilo" ng-model="FormData.pagina_template_id" value="2"><img src="http://bootswatch.com/cerulean/thumbnail.png" width="100%"></label></div>
                    </div>
                    <hr>
                    <div class="row">                        
                        <!-- <div class="col-md-4"><img src="http://bootswatch.com/flatly/thumbnail.png" width="100%"></div>
                        <div class="col-md-4"><img src="http://bootswatch.com/cyborg/thumbnail.png" width="100%"></div>
                        <div class="col-md-4"><img src="http://bootswatch.com/amelabela/thumbnail.png" width="100%"></div> -->
                    </div>
                </div>

                <h3>Información general</h3>
                <div>                    
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Nombre de la página</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputEmail3" placeholder="" ng-model="FormData.pagina_nombre">                          
                        </div>
                      </div>                      
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Dominio deseado</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputPassword3" placeholder="ejemplo.com" ng-model="FormData.pagina_dominio">
                          <p class="help-block">Nosotros verificaremos la disponibilidad de ese dominio</p>
                        </div>
                      </div>
                       <!-- <input type="submit" class="btn btn-lg btn-success" value="Aceptar">  -->
                                                             
                                    
                </div>              
            </div>
		</form>
	</div>


</div>

</div>